<div class="container">
  <h1 class="text-center m-5">Index Cocktail</h1>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="card col-sm-3"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
    <% end %>
</div>

  <div class="border border-primary rounded d-flex justify-content-center mx-auto my-5 py-2" style="width:150px;">
    <%= link_to "Add a cocktail!", new_cocktail_path %>
  </div>

</div>
